<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" with JavaScript='tablesorter' %}
    <title>{{ class_name|capfirst }} / Experimental conditions / {{ SITE_NAME }}</title>
</head>

<body>
{% include "navbar.html" with active='conditions' %}

<div class="container-fluid">

    <div class="row">

        <div class="col-xs-12">

            <h1>{{ class_name }}</h1>

            <table class="table">
                <tr>
                    <th width="20%" scope="row" class="first">ChEBI</th>
                    <td class="first">
                        <a class="external" href="https://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:{{ class_id }}">CHEBI:{{ id }}</a>
                    </td>
                </tr>
                <tr>
                    <th width="20%" scope="row">Associated conditions</th>
                    <td>
                        <ul>
                            {% for conditiontype in conditiontypes %}
                            <li><a href="/conditions/{{ conditiontype.id }}/">{{ conditiontype }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>

            {% if conditiontypes %}

            {% include "datasets/datasets_table.html" with template='chebi' %}

            {% endif %}

            {% include "footer.html" %}

        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#papersTable").tablesorter();
    });
</script>

{% include "ga.html" %}

</body>
</html>
