<!DOCTYPE html>
<html lang="en"><head>
<title>{{ SITE_NAME }} / Experimental conditions</title>
<script>var flare={{ flare|safe }};</script>
{% include "head.html" with JavaScript="d3" d3=request.resolver_match.url_name active=request.resolver_match.namespaces.0 %}
<div class="container-fluid">
{% include "d3menu.html" with namespace=request.resolver_match.namespaces.0 %}
<h1>Experimental conditions</h1>
<div id="graphic"></div>

{% include "footer.html" %}
</div{# container-fluid #}>
</body></html>
