<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" with JavaScript='tablesorter' script_popup=1 %}
    <title>{{ object|capfirst }} / Experimental conditions / {{ SITE_NAME }}</title>
</head>

<body>

{% include "navbar.html" with active='conditions' %}

<div class="container-fluid">

    <div class="row">

        <div class="col-xs-12">

            <h1>{{ object }}</h1>

            <table class="table">
                <tr>
                    <th width="20%" scope="row" class="first">ChEBI name</th>
                    <td class="first">{{ object.chebi_name }}
                        {% if object.chebi_id %}
                            &mdash; <a class="external" href="https://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:{{ object.chebi_id }}">CHEBI:{{ object.chebi_id }}</a>
                            <ul>
                            {% for key, value in object.has_roles.items %}
                                <li><a href="/conditions/chebi/{{ value }}/">{{ key }}</a></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th width="20%" scope="row">PubChem name</th>
                    <td>{{ object.pubchem_name }}
                        {% if object.pubchem_id %}
                            &mdash; <a class="external" href="https://pubchem.ncbi.nlm.nih.gov/compound/{{ object.pubchem_id }}/">PCID:{{ object.pubchem_id }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th width="20%" scope="row">Names used in publications</th>
                    <td>
                        {{ object.name }}{% if object.other_names %}, {{ object.other_names }}{% endif %}
                    </td>
                </tr>

            {% if object.definition %}
                <tr>
                    <th width="20%" scope="row">Description</th>
                    <td>{{ object.definition }}</td>
                </tr>
            {% endif %}

            </table>

            {% include "datasets/datasets_table.html" with template='condition' %}

            {% include "footer.html" %}

        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#papersTable").tablesorter();
    });
</script>

{% include "ga.html" %}

</body>
</html>
