<!DOCTYPE html>
<html lang="en"><head>
{% include "head.html" with JavaScript='tablesorter' %}
<title>{{ TITLE }} / Conditions / {{ object|capfirst }}</title>
<script>$(document).ready(function(){ 
 $("#papersTable").tablesorter(); 
});</script>
</head><body><div class="container">

<hgroup>
  <nav><a href="{% url 'index' %}">{{ TITLE }}</a> / <a href="{% url 'conditions:index' %}">Conditions</a> /</nav>
  <h1>{{ object|capfirst }}</h1>
</hgroup>

<dl class="dl-horizontal">
  <dt>Description</dt>
  <dd>{{ object.description }}</dd>
</dl>

{% if object.datasets %}
<table id="papersTable" class="tablesorter table table-condensed" width="100%">
  <thead>
    <tr>
      <th>Paper</th>
      <th>Condition set</th>
      <th>Phenotype</th>
      <th>Collection</th>
      <th>Tested genes</th>
      <th>Tested genes published</th>
      <th>Tested genes available</th>
      <th>Data measured</th>
      <th>Data published</th>
      <th>Data available</th>
    </tr>
  </thead><tbody>
    {% for dataset in object.datasets %}
    <tr>
      <td>{{ dataset.paper.link_detail|safe }}</td>
      <td>{{ dataset.conditionset }}</td>
      <td>{{ dataset.phenotype.link_detail|safe }}</td>
      <td>{{ dataset.collection }}</td>
      <td>{{ dataset.tested_num }}</td>
      <td>{{ dataset.tested_genes_published|yesno|capfirst }}</td>
      <td>
        {% if not dataset.tested_source %}
        No
        {% else %}
        {{ dataset.tested_source|safe }}<br>{{ paper.latest_tested_status|capfirst }}
        {% endif %}
      </td>
      <td>{{ dataset.data_measured|capfirst }}</td>
      <td>{{ dataset.data_published|capfirst }}</td>
      <td>{{ dataset.data_available|capfirst }}
        <br>{{ dataset.data_source|safe }}
        <br>{{ paper.latest_data_status|capfirst }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<aside class="bg-warning">No papers associated.</aside>
{% endif %}
</div{# container #}></body></html>
