{% load my_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" with JavaScript='tablesorter' %}
    <title>Experimental conditions / {{ SITE_NAME }}</title>
</head>

<body>
{% include "navbar.html" with active='conditions' %}

<div class="container-fluid">

    <h1>Experimental conditions</h1>

    <div class="well">
    <form class="form-horizontal" action="/conditions/" method="GET">
        <div class="form-group">
            <label class="col-sm-3 control-label">Search:</label>
            <div class="col-sm-6">
                <input type="search" name="q" value="{{ q }}" class="form-control" placeholder="Condition name, PubChem ID, ChEBI ID, etc.">
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
    </div>

    {% if q and queryset %}
    <table id="papersTable" class="tablesorter table table-striped" width="100%">
        <thead>
        <tr>
            <th width="25%">Name</th>
            <th width="25%">Phenotypes</th>
            <th width="25%">Papers</th>
        </tr>
        </thead>
        <tbody>
        {% for qs in queryset %}
        <tr>
            <td>{{ qs.link_detail|safe }}</td>
            <td>{{ qs.phenotypes|join_and_more:7 }}</td>
            <td>{{ qs.papers|join_and_more:7 }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% elif q %}
    <aside class="bg-warning">No conditions match these search criteria.</aside>
    {% endif %}

    {% include "footer.html" %}

</div>

<script>$(document).ready(function(){
 $("#papersTable").tablesorter();
});</script>

{% include "ga.html" %}

</body></html>
