{% load my_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" with JavaScript='tablesorter' %}
    <title>{{ SITE_NAME }} / Experimental conditions</title>
</head>

<body>
{% include "navbar.html" with active='conditions' %}

<div class="container-fluid">
    <h1>Experimental conditions</h1>
    {% if conditiontype_list %}
    <table id="papersTable" class="tablesorter table table-condensed" width="100%">
        <thead>
        <tr>
            <th width="25%">Name</th>
            <th width="25%">Doses</th>
            <th width="25%">Phenotypes</th>
            <th width="25%">Papers</th>
        </tr>
        </thead>
        <tbody>
        {% for conditiontype in conditiontype_list %}
        <tr>
            <td>{{ conditiontype.link_detail|safe }}</td>
            <td>{{ conditiontype.conditions_str_list }}</td>
            <td>{{ conditiontype.phenotypes|join_and_more:7 }}</td>
            <td>{{ conditiontype.papers|join_and_more:7 }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <aside class="bg-warning">No papers are available.</aside>
    {% endif %}
    {% include "footer.html" %}
</div>

<script>$(document).ready(function(){
 $("#papersTable").tablesorter();
});</script>

{% include "ga.html" %}

</body></html>
