{% load staticfiles %}{% load string_multiply %}<!DOCTYPE html>
<html lang="en"><head>
{% include "head.html" with JavaScript='tablesorter' %}
<title>{{ TITLE }} / Phenotypes / {{ object|capfirst }}</title>
<script>$(document).ready(function(){ 
 $("#papersTable").tablesorter(); 
});</script>
</head><body><div class="container">
  
<hgroup>
  <nav><a href="{% url 'index' %}">{{ TITLE }}</a> / <a href="{% url 'phenotypes:index' %}">Phenotypes</a> /</nav>
  <h1>{{ object|capfirst }}</h1>
</hgroup>

<p>
{% for ancestor in object.get_ancestors %}
{% filter multiply:ancestor.level %}&nbsp; &nbsp; &nbsp; &nbsp;{% endfilter %} {{ ancestor.link_detail|safe|capfirst }}</br>
{% endfor %}
</p>

{% comment %}
<!-- I can't find an example of output from this, so for now lets
     comment out. -->

<p><strong>Description.</strong> {{ object.description }}</p>
<p><strong>Datasets.</strong></p>
{% endcomment %}

{% if object.datasets %}
<table id="papersTable" class="tablesorter table table-condensed" width="100%">
  <thead>
    <tr>
      <th>Paper</th>
      <th>Phenotype (variant)</th>
      <th>Condition set</th>
      <th>Collection</th>
      <th>Type of data</th>
      {% if request.GET.verbose >= 1 %}
      <th>Tested genes</th>
      <th>Tested genes published</th>
      <th>Tested genes available</th>
      <th>Data measured</th>
      <th>Data published</th>
      {% endif %}
    </tr>
  </thead><tbody>
    {% for dataset in object.datasets %}
    <tr>
      <td class="text-nowrap">{{ dataset.paper.link_detail|safe }}</td>
      <td>{{ dataset.phenotype }}</td>
      <td>{{ dataset.conditionset }}</td>
      <td>{{ dataset.collection }}</td>
      <td>{{ dataset.data_available|capfirst }}
        <br>{{ dataset.data_source|safe }}
        <br>{{ paper.latest_data_status|capfirst }}
      </td>
      {% if request.GET.verbose >= 1 %}
      <td>{{ dataset.tested_num }}</td>
      <td>{{ dataset.tested_genes_published|yesno|capfirst }}</td>
      <td>
        {% if not dataset.tested_source %}
        No
        {% else %}
        {{ dataset.tested_source|safe }}<br>{{ paper.latest_tested_status|capfirst }}
        {% endif %}
      </td>
      <td>{{ dataset.data_measured|capfirst }}</td>
      <td>{{ dataset.data_published|capfirst }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<aside class="bg-warning">No datasets are available.</aside>
{% endif %}
{% include "footer.html" %}
</div></body></html>
o
