a.external {
	background: url("images/external-link-blue-medium.png") center right no-repeat; 
	padding-right: 12px;
}

BODY {
	font-family: helvetica, sans-serif;
	padding: 25px 50px 50px 50px; 
	background: #FFFFFF; 
	font-weight: 100;
}

DIV.note {
	font-size: 13px;
	text-align: right;
    margin-bottom: 5px;
    clear: both;
}

	#breadcrumbs {
		float: left;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#left {
		float: left;
		margin-bottom: 20px;
		padding: 20px;
		width: 45%;
	}
	
	#right {
		background-color: #f0f0f0;
		float: right;
		margin-bottom: 20px;
		padding: 20px;
		width: 45%;
	}

DIV.sub_navigation {

    margin: 10px 0px 10px 0px;
    clear: both;
}

DIV.sub_navigation SPAN.active {

    background-color: #EBEBCF;
    padding: .5em;

}

DIV.sub_navigation SPAN.inactive {
    background-color: #FFFFFF;
    padding: .5em;
}

DIV.sub_navigation DIV.sub_navigation_block {
    float: left;
    margin-right: 40px;
}

#title {
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 16px;
  letter-spacing: -2px;
  line-height: 100%;
}

H1 { 
	font-weight: 100;
	font-size: 2em;
	clear: both;
}

HR {
	margin-top : 10px;
}

TABLE {
	border-collapse: collapse;
	border: 0px;
	font-size: 0.9em;
	font-weight: 100;
}
	
	th.header {
		background-color: #F0F0F0;
		background-image: url("images/small_sort.gif");
		background-repeat: no-repeat;
		background-position: center right;
		cursor: pointer;
		border-color: #C0C0C0;
        border-width: 0px;
		padding: .7em 1em;
		text-align: left;
		font-weight: 100;
	} 
	
	th.headerSortUp {
		background-color: #C0C0C0;
		background-image: url("images/small_sort_asc.gif"); 
	}
	
	th.headerSortDown {
		background-color: #C0C0C0;
		background-image: url("images/small_sort_desc.gif"); 
	}

	td {
		border-color: #EFEFEF;	
		border-width: 0px 0px 1px 0px;
		padding: .7em 1em;	
	}

    TABLE th.header span { border-bottom: 1px dashed #555555; }

i.fa {
    color: green;
}

i.invisible {
    visibility:hidden;
}

.node {
    cursor: pointer;
}

SPAN.small {
    font-size: 0.8em;
}

.nothing{
    opacity:0.25;
    font-style:italic;
}

hgroup h1:first-child{
    margin-bottom:0;
}
hgroup h1.pmid{
    margin-top:0;
    font-size:1em;
}
