table{
    margin-top:2em;
}

th.header{
    position: relative;
    padding-left:1em !important;
    cursor: pointer;
}

th.header:before{
    position: absolute;
    content: '\2195';
    left: 0;
}

th.headerSortUp:before {
    content: '\2191';
}
th.headerSortDown:before {
    content: '\2193';
}

th[colspan]{
    text-align: center;
    border-right: 1ex solid transparent;
    border-left: 1ex solid transparent;
}
