body{
    margin-top:2em;
}
aside,footer{
    margin-bottom:20px;
    padding:20px;
    background-color:whitesmoke;
}
h1 small:before{
    content:'\2014\00A0';
}
hgroup{
    margin-bottom:3ex;
}
hgroup h1{
    margin-top:0;
    margin-bottom:1ex;
}
footer{
    border-top:2px double whitesmoke;
}
.nothing{
    opacity:0.25;
    font-style:italic;
}
.email:before{
    content:'\27E8';
}
.email:after{
    content:'\27E9';
}
.external:after{
    white-space:nowrap;
    padding-left:.3ex;
    content:url("images/external-link-blue-medium.png");
}
thead td{
    text-align:center;
}
