{% load staticfiles %}<!DOCTYPE html>
<html lang="en"><head>
{% include "head.html" with JavaScript='tablesorter' %}
<title>Contributors / {{ SITE_NAME }}</title>
</head>

<body>
{% include "navbar.html" with active='contributors' %}

<div class="container-fluid"><h1>Contributors</h1>

<p>A special thanks goes to the authors of these <strong>{{ papers_list.count }} <a href="{% url 'papers:all' %}">publications</a></strong> who have provided unpublished versions of their datasets, including raw quantitative data and/or lists of tested genes.</p>

{% if papers_list %}
<table id="papersTable" class="tablesorter table table-condensed" width="100%">
  <thead>
    <tr>
      <th>Contact person</th>
      <th>Publication</th>
      <th>Unpublished data</th>
      <th>List of tested genes</th>
    </tr>
  </thead><tbody>
    {% for paper in papers_list %}
    <tr>
      <td>{{ paper.acknowledgements_str_list }}</td>
      <td>{{ paper.link_detail|safe }}</td>
      <td>{{ paper.acknowledge_data|yesno:'<span class="yes">yes</span>,<span class="no">no</span>,'|safe }}</td>
      <td>{{ paper.acknowledge_tested|yesno:'<span class="yes">yes</span>,<span class="no">no</span>,'|safe }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No papers are available.</p>
{% endif %}

</div>

<script>
$(document).ready(function(){
 $("#papersTable").tablesorter();
});
</script>

{% include "ga.html" %}

</body>

</html>



