{% load my_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" with JavaScript='tablesorter' %}
    <title>{{ object }} / Papers / {{ SITE_NAME }}</title>
</head>

<body>
{% include "navbar.html" with active='papers' %}
<div class="container-fluid">

    <div class="row">

        <div class="col-xs-12">

            <h1>{{ object }}</h1>

            {% if object.pmid != 0 %}
            <table class="table">
                <tr>
                    <th width="20%" scope="row" class="first">Pubmed ID</th>
                    <td class="first"><a itemprop="PMID" class="external" href="http://www.ncbi.nlm.nih.gov/pubmed/{{ object.pmid }}/">{{ object.pmid }}</a></td>
                </tr>
                <tr>
                    <th scope="row">Title</th>
                    <td>{{ title }}</td>
                </tr>
                <tr>
                    <th scope="row">Authors</th>
                    <td>{{ authors|join_and_more:20 }}</td>
                </tr>
                <tr>
                    <th scope="row">Abstract</th>
                    <td>{{ abstract }}</td>
                </tr>
                <tr>
                    <th scope="row">Citation</th>
                    <td>{{ citation }}</td>
                </tr>
                {% if object.notes %}
                <tr>
                    <th scope="row">Notes</th>
                    <td>{{ object.notes }}</td>
                </tr>
                {% endif %}
            </table>
            {% endif %}

            <div class="pull-right">{% include "zip.html" %}</div>
            <h3>Datasets</h3>

            {% if thanks %}
            <p>
                {{ thanks|capfirst }}
            </p>
            {% endif %}

            <div class="alert alert-warning" role="alert">
                <strong>Warning:</strong> These data may contain errors.
                <p>YeastPhenome.org is currently running in beta version.
                    The data are available for download, but we cannot guarantee that no errors or code bugs have been introduced by the processing pipeline.
                    This warning will be removed after all cross-checks and validations have been completed.
                    In the meantime, please, be careful when using the data.
                </p>
            </div>

            {% if object.dataset_set.all %}

            {% include "datasets_list.html" %}

            <table id="papersTable" class="tablesorter table table-condensed" width="100%">
                {% if request.GET.verbose >= 1 %}<col/><col/><col/><col/><col class="bg-info"/><col/><col class="bg-info"/><col class="bg-info"/>{% endif %}
                <thead>
                <tr>
                    <th>Phenotypes</th>
                    <th>Conditions</th>
                    <th>Collection</th>
                    <th>Tested genes</th>
                    {% if request.GET.verbose >= 1 %}<th>Tested genes: <ul>
                    <li>published</li>
                    <li>available</li>
                    <li>status</li>
                </ul></th>{% endif %}
                    <th>Data type</th>
                    {% if request.GET.verbose >= 1 %}<th>Data: <ul>
                    <li>measured</li>
                    <li>published</li>
                    <li>data</li>
                </ul></th>{% endif %}
                </tr>
                </thead><tbody>
            {% for dataset in object.dataset_set.all %}
            <tr>
                <td>{{ dataset.phenotype.link_detail|safe }}</td>
                <td>{{ dataset.conditionset.link_detail|safe }}</td>
                <td>{{ dataset.collection }}</td>
                <td>{{ dataset.tested_num }}</td>
                <td>{{ dataset.data_available|capfirst }}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>

            {% endif %}

            <h3>Curation history</h3>
            <div class="row">
                <div class="col-xs-4">
                    <table class="table table-condensed table-no-border">
                        {% for x in paper.history %}
                        <tr>
                            <td>{{ x.status_date }}</td>
                            <td>{{ x.type|capfirst }} {{ x.status.status_name }}.</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            {% include "footer.html" %}

        </div>
    </div>
</div>

<script>$(document).ready(function(){
    $("#papersTable").tablesorter();
});</script>

{% include "ga.html" %}

</body>
</html>
