{# {% load sub_navigation %} #}{% load my_filters %}<!DOCTYPE html>
<html lang="en"><head>
{% include "head.html" with JavaScript='tablesorter' %}
<title>{{ TITLE }} / Papers</title>
<script>
$(document).ready(function(){ 
 $("#papersTable").tablesorter(); 
});</script>
</head><body><div class="container">

<div class="row">
  <hgroup class="col-md-7">
    <nav><a href="{% url 'index' %}{{ got }}">{{ TITLE }}</a> / </nav>
    <h1>Papers</h1>
  </hgroup>

  <aside class="col-md-5">
    {% include "search.html" %}
  </aside>
</div>{# row #}


{% if papers_list %}
<table id="papersTable" class="tablesorter table table-condensed" width="100%">
  {% comment %}

  <!-- This commented out caption corrosponds with commented out code
       in the papers/views.py:PaperIndexView.get_content_data()
       function.  To us this you will need to uncomment that, plus
       uncomment "load sub_navigation" on the top of this page. -->

  <caption>
    <nav>
      <span class="{% active sub_navigation 'All' %}"><a href="/papers/{{ got }}">All</a> <span class="small">{{ num_all }}</span></span>
      <span class="{% active sub_navigation 'Haploid' %}"><a href="/papers/haploid/{{ got }}">Haploid</a>&nbsp;<span class="small">{{ num_haploid }}</span></span>
      <span class="{% active sub_navigation 'Diploid homozygous' %}"><a href="/papers/diploid/homozygous/{{ got }}">Homozygous diploid</a>&nbsp;<span class="small">{{ num_diploid_homozygous }}</span></span>
      <span class="{% active sub_navigation 'Diploid heterozygous' %}"><a href="/papers/diploid/heterozygous/{{ got }}">Heterozygous diploid</a> <span class="small">{{ num_diploid_heterozygous }}</span></span>
      <span class="{% active sub_navigation 'Quantitative' %}"><a href="/papers/quantitative/{{ got }}">Quantitative data</a> <span class="small">{{ num_quantitative }}</span></span>
      <span class="{% active sub_navigation 'Discrete' %}"><a href="/papers/discrete/{{ got }}">Discrete data</a> <span class="small">{{ num_discrete }}</span></span>
    </nav>
  </caption>
  {% endcomment %}
  <thead>
    <tr>
      <th>PMID</th>
      <th><span>FirstAuthor~LastAuthor, Year</span></th>
      <th><span>Phenotypes</span></th>
      <th><span>Conditions</span></th>
      <th><span>Type of data</span></th>
      {% if verbose >= 1 %}
      <th><span>Data status</span></th>
      <th><span>List of tested genes</span></th>
      <th><span>Download</span></th>
      {% endif %}
    </tr>
  </thead><tbody>
    {% for paper in papers_list %}
    <tr>
      <td>
	{% if 0 != paper.pmid %}
	<a class="external pmid" href="http://www.ncbi.nlm.nih.gov/pubmed/{{ paper.pmid }}/">{{ paper.pmid }}</a>
	{% endif %}
      </td>
      <td>{{ paper.link_detail|safe }}</td>
      <td>{{ paper.phenotypes|slice:":-2"|safe }}</td>
      <td>{{ paper.conditions|join_and_more:7|safe }}</td>
      <td>{{ paper.data_available|join:", " }}</td>
      {% if verbose >= 1 %}
      <td>{{ paper.latest_data_status|capfirst }}</td>
      <td>{{ paper.latest_tested_status|capfirst }}</td>
      <td>{% if paper.has_data %}
	{% include "zip.html" %}
	{% endif %}</td>
      {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<aside class="bg-warning">No papers are available.</aside>
{% endif %}
{% include "footer.html" %}
</div>{# container #}</body></html>
