{% load staticfiles %}<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
{% if JavaScript %}
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
{% if 'bootstrap' in JavaScript %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endif %}
{% if 'tablesorter' in JavaScript %}
<script src="{% static 'jquery.tablesorter.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'tablesorter.css' %}">
{% endif %}
{% endif %}
<link rel="stylesheet" href="{% static 'yp.css' %}">
