<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nb-search">
                <span class="sr-only">Search</span>
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nb-sections">
                <span class="sr-only">Sections</span>
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">{{ SITE_NAME }} (<em>beta</em>)</a>
        </div>

        <ul class="collapse navbar-collapse nav navbar-nav" id="nb-sections">
            <li {% if 'papers' == active %} class="active" {% endif %} ><a href="{% url 'papers:all' %}">Papers</a></li>
            <li {% if 'phenotypes' == active %} class="active" {% endif %} ><a href="{% url 'phenotypes:index' %}">Phenotypes</a></li>
            <li {% if 'conditions' == active %} class="active" {% endif %} ><a href="{% url 'conditions:index' %}">Experimental conditions</a></li>
            <li {% if 'about' == active %} class="active" {% endif %} ><a href="{% url 'about' %}">About</a></li>
            <li {% if 'contributors' == active %} class="active" {% endif %} ><a href="{% url 'contributors' %}">Contributors</a></li>
        </ul>

        <div class="collapse navbar-collapse" id="nb-search">
            <form class="navbar-form navbar-right" role="search" action="{% url 'papers:all' %}" method="GET">
                <div class="form-group">
                    <input type="search" name="q" value="{{ q }}" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</nav>


