<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>{{ SITE_NAME }}</title>
</head>

<body>

{% include "navbar.html" with active='about' %}

<div class="container-fluid">

    <div class="row">
        <div class="col-xs-12">
            <h1>About</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12">

            <p>YeastPhenome.org is a collaborative project focused on compiling a comprehensive compendium of systematic phenotypic data for budding yeast <em>Saccharomyces cerevisiae</em>.</p>

            <p>Our goal is to gather, process and standardize the results of every genome-scale experiment that has examined the yeast deletion collection for one or more phenotypes.</p>

            <p>We are interested in both quantitative and qualitative phenotypes, as long as, for a given study, the data were collected systematically and for a large number of mutants.</p>

            <p>Our primary source of data are the supplementary materials of the relevant <a href="{% url 'papers:all' %}">publications</a>. On top of that, <a href="{% url 'contributors' %}">many authors</a> have contributed more complete and previously unpublished versions of their datasets (e.g., raw quantitative values from which the published hit list was derived). These datasets are specifically flagged to emphasize their special status.</p>

            <p>Yeastphenome.org was created and is being maintained at <a class="external" href="http://www.princeton.edu/">Princeton University</a> by:</p>

            <ul>
                <li>Anastasia Baryshnikova (principal investigator, <a class="external" href="http://www.baryshnikova-lab.org">www.baryshnikova-lab.org</a>)</li>
                <li>Rose Oughtred (literature curator)</li>
                <li>Christie Chang (literature curator)</li>
                <li>Jennifer Rust (literature curator)</li>
                <li>Brianna Richardson (curator, programmer)</li>
                <li>Sven Heinicke (database and website support)</li>
                <li>Fan Kang (database support)</li>
                <li>Mark Schroeder (server support)</li>
            </ul>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            {% include "footer.html" %}
        </div>
    </div>

</div>

</body>

</html>
