{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'papers/style.css' %}" />
</head>

<body>

<h1><strong>YeastPhenome.org</strong> &mdash; Database of systematic mutant phenotypes in yeast</h1>

<div id="left">
We are collecting phenotypic data derived from <strong>systematic screens</strong> of large-scale <strong>mutant collections</strong> in budding yeast <em>Saccharomyces cerevisiae</em>. Our goal is to study the relationship between different mutant phenotypes and integrate them into mapping of the functional organization of biological pathways.

<p>We are interested in both <strong>quantitative</strong> and <strong>qualitative</strong> phenotypes, as long as, for a given study, the data were collected systematically and for a large number of mutants.

<p>Our primary <strong>source of data</strong> are the supplementary materials of the relevant <a href="/papers/"><strong>publications</strong></a>. On top of that, <a href="/contributors/">many authors</a> have contributed more complete and previously unpublished versions of their datasets (e.g., raw quantitative values from which the published hit list was derived). These datasets will be specifically flagged to emphasize their special status.

<p>As of today, we are at the data gathering stage. The plan is to collect, organize and share in a <strong>standardized format</strong> all of the phenotypic data obtained by the yeast community. Updates on progress will be released via this website. 
</div>


<div class="right">

  <form action="/papers/" method="GET">
    <dl>
      <dt>PMID</dt>
      <dd><input type="number" name="pmid"/></dd>

      <dt>First/Last Author</dt>
      <dd><input type="text" name="author"/></dd>
    </dl>
    <p><button type="submit">Submit</button></p>
  </form>

</div><div id="right">

  <p>Current status for data collection:</p>
  <ul>
    <li>{{ paper_num_total }} <a href="/papers/">papers published</a>, {{ paper_num_with_data }} have data
    <li>{{ phenotype_num_total }} <a href="/phenotypes/">phenotypes screened</a>, {{ phenotype_num_with_data }} have data
    <li>{{ condition_num }} <a href="/conditions/">conditions</a>
  </ul>

  <p>Most studied phenotype: {{ most_studied_phenotype.link_detail|safe }} ({{ most_studied_phenotype.num_datapoints }} datapoints).<br/>Most studied experimental condition: {{ most_studied_conditionset.name }} ({{ most_studied_conditionset.num_datapoints }} datapoints).</p>
  <p>Updated on: {{ updated }}.</p>

</div>

<hr noshade size="2" color="#f0f0f0" style="clear: both; margin-top: 30px;">
Created and maintained by Anastasia Baryshnikova (<a href="http://www.baryshnikova-lab.org">www.baryshnikova-lab.org</a>) at Princeton University.

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48000664-1', 'yeastphenome.org');
  ga('send', 'pageview');

</script>
</body>

</html>
