<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>{{ SITE_NAME }}</title>
</head>

<body>

{% include "navbar.html" with active="" %}

<div class="container-fluid">

    <div class="row">
        <div class="col-xs-12">
            <h1>Database of Systematic Phenotypes in Yeast <small>beta version</small></h1>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-8">

            <div class="jumbotron">

                <p>Our goal is to collect, organize and share in a standardized format all phenotypic screens of the <em>Saccharomyces cerevisiae</em> deletion collection.</p>

                <p><a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more</a></p>

            </div>

        </div>

        <div class="col-xs-4">
            <p>Current status for data collection:</p>
            <ul>
                <li>{{ paper_num_total }} <a href="{% url 'papers:all' %}">papers</a></li>
                <li>{{ phenotype_num_total }} <a href="{% url 'phenotypes:index' %}">phenotypes</a></li>
                <li>{{ condition_num }} <a href="{% url 'conditions:index' %}">experimental conditions</a></li>
            </ul>

            <p>Updated on: {{ updated }}.</p>
        </div>

    </div>

    {% include "footer.html" %}

</div>

{% include "ga.html" %}

</body>

</html>
